* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue-primary: hsl(245, 75%, 52%);
    --color-pale-blue-primary: hsl(225, 100%, 94%);
    --color-pale-blue-secondary: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);
    --font-size: 16px;
    --font-family: 'Red Hat Display', sans-serif;
    --font-weight-lg: 900;
    --font-weight-md: 700;
    --font-weight-sm: 500;

}

body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: #E0E8FF;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    border-radius: 20px;
    text-align: center;
    width: 450px;
    background-color: white;
}

.background-image img {
    border-radius: 20px 20px 0px 0px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

}

.text {
    width: 290px;
    margin: auto;
    font-family: var(--font-family);

    h1 {
        color: var(--color-dark-blue);
        font-weight: var(--font-weight-lg);
        margin-bottom: 25px;
    }

    span {
        font-size: var(--font-size);
        color: #878995;
        font-weight: var(--font-weight-md);
    }
}

.anual-plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--color-pale-blue-secondary);
    width: 350px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 25px;
    
    .icon {
        display: flex;
        gap: 20px;
        h2 {
            font-size: var(--font-size);
            font-weight: var(--font-weight-lg);
            margin-bottom: 5px;
        }
        span {
            color: #878995;
            font-weight: var(--font-weight-sm);
        }
    }

    .change a{
        color: var(--color-blue-primary);
        font-weight: var(--font-weight-md);
    }

    .change a:hover {
        color: #7A6FE9;
        text-decoration: none;
    }
}

.button-link {
    text-decoration: none;
    margin-bottom: 35px;
    box-shadow: 0px 25px 17px #E3E0FD ;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 50px;
        background-color: var(--color-blue-primary);
        color: white;
        font-weight: var(--font-weight-md);
        font-family: var(--font-family);
        font-size: var(--font-size);
        border-radius: 10px;
    }
}

.button:hover {
    background-color: #766CF1;
}

.button-link2 {
    text-decoration: none;
    color: #878995;
    font-size: var(--font-size);
    font-weight: var(--font-weight-md);
    margin-bottom: 55px;
}

.button-link2:hover {
    color:#16254C ;
}
